In [4]:
import pandas as pd

In [5]:
df = pnadas.read_csv("baseball.csv")
df

NameError: name 'pnadas' is not defined

In [6]:
df = pandas.read_csv("baseball.csv")
df

NameError: name 'pandas' is not defined

In [7]:
df = pd.read_csv("baseball.csv")
df

                 Name Team        Position  Height  Weight    Age PosCategory
0       Adam_Donachie  BAL         Catcher      74     180  22.99     Catcher
1           Paul_Bako  BAL         Catcher      74     215  34.69     Catcher
2     Ramon_Hernandez  BAL         Catcher      72     210  30.78     Catcher
3        Kevin_Millar  BAL   First_Baseman      72     210  35.43   Infielder
4         Chris_Gomez  BAL   First_Baseman      73     188  35.71   Infielder
...               ...  ...             ...     ...     ...    ...         ...
1010    Brad_Thompson  STL  Relief_Pitcher      73     190  25.08     Pitcher
1011    Tyler_Johnson  STL  Relief_Pitcher      74     180  25.73     Pitcher
1012   Chris_Narveson  STL  Relief_Pitcher      75     205  25.19     Pitcher
1013    Randy_Keisler  STL  Relief_Pitcher      75     190  31.01     Pitcher
1014      Josh_Kinney  STL  Relief_Pitcher      73     195  27.92     Pitcher

[1015 rows x 7 columns]